* {
    box-sizing: border-box;
    font-family: Arial;
}

html {
    height: 50%;
    }

body {
    margin: 0; padding: 0;
    width: 100%; 
    height: 100%;
}

a {
    text-decoration: none;
}

h3, p {
    margin: 10px auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*STYLING IMG DISPLAY*/
article {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

article img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

article figure {
    margin: 0;
}

article figure figcaption {
    background-color: rgba(255,255,255,0.6);
    color: black;
    position: absolute;
    bottom: 0;
    padding: 0 0.5rem;
}

#heart:visited {
    background-color: red;
}

/*STYLING ASIDE BOX (DESCRIPTION, CMT...)*/
aside {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.like-button {
	display: inline-block;
    background-color: white;
    border: none;
}

.heart {
    font-size: 16px;
}

.cmt-box {
    width: 100%;
	position: relative;
    margin: 10px 0;
}

aside input[type=text] {
    float: left;
	width: 81%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

aside button[type="submit"]  {
    width: 20%;
    position: absolute;
    right: 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    cursor: pointer;
}

.cmt-list-box ul {
	margin-top: 17%;
    padding: 0  ;
}

.cmt-list-box ul li {
    list-style-type: none;
    background-color: #E8E8E8;
    padding:5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/*RESPONSIVE*/
@media screen and (min-width: 720px) {
    article {
        width: 70%;
    }
    aside {
        width: 30%;
    }
    html {
    height: 100%;
    }
    
    
}